.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    font-family: sans-serif;
    border-bottom: 1px solid rgb(235, 156, 156);
    margin-bottom: 10px;
}
.header form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header form input{
    height: 30px;
    width: 80%;
    border-radius: 5px;
    border: 0.5px solid rgb(199, 97, 97);
    padding: 5px;
    font-size: 15px;
}
.header form button{
    height: 40px;
    width: 15vw;
    border: none;
    font-size: 16px;
    color: #ffffff;
    background: #ff0000;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.header form button:hover{
    background: #c00707;
    cursor: pointer;
}
.logo{
    height: 40px;
    width: 50px;
    padding-left: 5px;
    display: inline;
}
    .container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        transition: all 0.1s ease-in-out;
        align-items: center;
    }
    .container h2{
        font-family: sans-serif;
        font-size: 30px;
        margin-right: auto;
    }
    .content{
        width: 80vw;
        display: flex;
        flex-direction: row;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        padding: 10px;
        font-family: sans-serif;
        margin-bottom: 30px;
        margin-left: 0.5vw;
    }

    .content_text .dl-btn{
            margin-top: 10px;
            border: none;
            height: 50px;
            width: 80%;
            border-radius: 5px;
            background: green;
            color: #fffefe;
            font-size: 20px;
            cursor: pointer;
        }


    @media screen and (min-width: 768px) {
        .content_img{
            margin-right: 10px;
            max-width: 20%;
            border-radius: 5px;
        }
        .dl-btn{
            margin-right: auto;
            padding: 0px;
            
        }
        
    }
    @media screen and (max-width: 768px) {
        .container{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            transition: all 0.1s ease-in-out;
        }
        .content{
            display: flex;
            flex-direction: column;
            border-radius: 10px;
        }
        .content_img{
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        .content_text .dl-btn{
            background: green;
            border: none;
            height: 50px;
            width: 80%;
            min-width: 50vw;
            border-radius: 5px;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
        }
        
    }