<!DOCTYPE html><html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><link rel="stylesheet" type="text/css" href="cid:css-a7d2b418-a253-4baf-871c-787e813ac141@mhtml.blink" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/logo/yt.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"> -->
    <title>YT Catcher</title>
</head>
<body>
    <div class="header">
            <img class="logo" src="./static/img/logo/yt.png">
            <!-- <h3 class="logo">YT Catcher</h3> -->

        <form action="/" method="post">
            <input required type="url" name="url" id="url" placeholder="Enter URL">
            <button id="search_btn" onclick="Search()" type="submit">Search</button>
        </form>
    </div>
    <div class="container">
        <!-- https://www.youtube.com/watch?v=_ylU69sogAU&t=2s&pp=ygUnaG93IGRvZXMgYXV0byBncm91cCB3b3JrcyBpbiBzcHJ1Y2UgYm90 -->
            <div class="content">
                <img class="content_img" src="https://img.youtube.com/vi/_ylU69sogAU/mqdefault.jpg" alt="logo">
                <div class="content_text">
                    <span><b>How does auto group works in spruce</b></span><br>
                    <span><b>Duration : </b>1 min 39 sec</span><br>
                    <span><b>Type : </b>Video</span><br>
                    <span><b>Quality : </b>720p</span><br>
                    <span><b>Size : </b>5MB</span><br>
                    <button class="dl-btn" onclick="alert('this is a demo')">Download</button>
                </div>
            </div>

            <div class="content">
                <img class="content_img" src="https://img.youtube.com/vi/6jqJ7Ga5CoE/mqdefault.jpg" alt="logo">
                <div class="content_text">
                    <span><b>Next Genaration Hacker</b></span><br>
                    <span><b>Duration : </b>23 min 23 sec</span><br>
                    <span><b>Type : </b>Video</span><br>
                    <span><b>Quality : </b>720p</span><br>
                    <span><b>Size : </b>24MB</span><br>
                    <button class="dl-btn" onclick="alert('this is a demo')">Download</button>
                </div>
            </div>


            <div class="content">
                <img class=" content_img" src="https://img.youtube.com/vi/ncLdZJ4Gyl4/mqdefault.jpg" alt="logo">
                <div class="content_text">
                    <span><b>O re Piya Cover By Prairna Raina</b></span><br>
                    <span><b>Duration : </b>1 min 6 sec</span><br>
                    <span><b>Type : </b>Video</span><br>
                    <span><b>Quality : </b>720p</span><br>
                    <span><b>Size : </b>4MB</span><br>
                    <button class="dl-btn" onclick="alert('this is a demo')">Download</button>
                </div>
            </div>
    </div>
    <script src="./static/js/main.js"></script>
</body>
</html>