 
<html>
    <head>
        <title>YT Catcher</title>
        <meta name="viewport" content="initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    </head>
    <body>
		<p class="text-center text-white bg-gray-800">Sidha content no bakwas</p>
        <div class="flex justify-center items-center h-screen bg-gray-800">
            <div class="flex flex-col justify-center items-center">
                <h1 class="text-4xl font-bold mb-4 text-white">YT Catcher</h1>
                <form action="ytdl" method="post">
                    <input autocomplete="" type="text" name="url" class="border-2 border-gray-300 rounded-lg p-2 mb-4 center" placeholder="Enter YT Video URL">
                    <br>
                    <input type="submit" name="typ" value="video" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded center">
                    <input type="submit" name="typ" value="audio" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded center mx-9">
                </form>
            </div>
        </div>    
    </body>
</html>

