<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/logo/yt.png" type="image/x-icon">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"> -->
    <title>YT Catcher</title>
</head>
<body>
    <div class="header">
        <img src="./static/img/logo/yt.png" class="logo">
        <form action="/" method="post">
            <input type="text" name="url" id="url" placeholder="Enter URL">
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="container">
        <!-- <ul class="side-menu">
            <li>home</li>
            <li>about</li>
            <li>contact</li>
        </ul> -->
        {% for video in videos[0:4] %}
            <div class="content">
                <img class="thumb" src="{{data['thumbnail']}}" alt="logo">
                <div class="content_text">
                    <span><b>{{data['title']}}</b></span><br>
                    <span><b>Duration : </b>{{data['duration']}} sec</span><br>
                    <span><b>Quality : </b>{{video.resolution}}</span><br>
                    <span><b>Size  : </b>{{int(video.filesize_mb)}}MB</span><br>
                    <!-- <span><b>Size : </b>{{video}}</span><br> --><a style="text-decoration: none;" href="{{video.url}}">
                    <button class="dl-btn">Download</button></a>
                </div>
            </div>
        {% endfor %}

        {% for audio in audios[0:4] %}
        <div class="content">
            <img class="thumb" src="{{data['thumbnail']}}" alt="logo">
            <div class="content_text">
                <span><b>{{data['title']}}</b></span><br>
                <span><b>Duration : </b>{{data['duration']}} sec</span><br>
                <span><b>Quality : </b>{{int(audio.bitrate/1000)}} kbps</span><br>
                <span><b>Size  : </b>{{int(audio.filesize_mb)}}MB</span><br>
                <!-- <span><b>Size : </b>{{video}}</span><br> --><a style="text-decoration: none;" href="{{audio.url}}">
                <button class="dl-btn">Download</button></a>
            </div>
        </div>
    {% endfor %}
    </div>
</body>
</html>